/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS ROOT VARIABLES */
:root {
    /* COLORS */
    --DISPLAY-BG: #fff;
    --FC-BUTTON: rgba(193, 193, 193, 0.19);
}

/* GENERAL STYLES */
#main {
    height: 100vh;
    background-image: url('bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--DISPLAY-BG);
    box-shadow: 2px 3px 12px 5px #2a2a2a;
    border-radius: 5px;
}

#result {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result p {
    height: 40px;
    width: 1000px;
    text-align: end;
    overflow-x: scroll;
    font-size: 2rem;
    letter-spacing: 3px;
}

#result p::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    appearance: none;
}

#result p::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

#buttons {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
}

#buttons> :nth-last-child(2) {
    grid-column: span 2;
    width: 90%;
    border-radius: 23px;
}

#buttons> :nth-last-child(3) {
    grid-row: span 2;
    height: 90%;
    border-radius: 23px;
}

#buttons button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: 0px;
    font-size: 1.32rem;
    background-color: var(--FC-BUTTON);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
}

#buttons button:hover {
    background-color: rgba(193, 193, 193, 0.49);
}
